<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.korail.cadsmdm">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- Android 5.1.1부터 getRunningAppProcessInfo 대신 Runtime을 사용하게 됨에 따라 해당 퍼미션 추가 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Android P(9.0) 타겟의 앱 빌드 시, 악성 앱 탐지 시 삭제 및 실시간감시 서비스의 구동을 위해서는 아래의 퍼미션이 요구 됨에 따라 추가-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_INVENTORY"/>

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <uses-feature android:name="android.hardware.wifi"/>


    <permission
        android:name="android.com.korail.cadsmdm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.com.korail.cadsmdm.permission.C2D_MESSAGE" />

    <!--uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="26" /-->

    <application
        android:name="android.com.korail.cadsmdm.AndroidApp"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        >



        <activity
            android:name="android.com.korail.cadsmdm.AccidentMapActivity"

            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>





        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />


        <meta-data android:name="com.mapbox.SetStorageExternal" android:value="true"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

    <!-- Exafe Regist Permissions -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>



</manifest>